 <!DOCTYPE html>
 <html>

 <head>
     <title>TP 3 - CSS</title>
     <link rel="stylesheet" type="text/css" href="style.css">
 </head>

 <body>
     <header class="header">
         <h1>Newspaper</h1>
     </header>

     <nav class="topnav">
         <a href="https://www.w3schools.com/css/css_website_layout.asp">Home</a>
         <a href="#">Link 1</a>
         <a href="#">Link 2</a>
         <a href="#" style="float:right">Link at the right</a>
     </nav>

     <div class="row">
         <aside class="leftcolumn">
             <div class="card">
                 <h2>About the Site</h2>
                 <p>in culpa qui officia deserunt mollit anim..</p>
             </div>
         </aside>
         <section class="rightcolumn">
             <article class="card">
                 <h2>TITLE HEADING</h2>
                 <details>
                     <h5>Title description, Dec 7, 2017</h5>
                     <p>Some text..</p>
                     <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
                         do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                         nostrud exercitation ullamco.</p>
                 </details>
             </article>
             <article class="card">
                 <h2>TITLE HEADING</h2>
                 <details>
                     <h5>Title description, Sep 2, 2017</h5>
                     <p>Some text..</p>
                     <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
                         do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                         nostrud exercitation ullamco.</p>
                 </details>
             </article>
         </section>
     </div>

     <footer class="footer">
         <h2>Footer</h2>
     </footer>
 </body>

 </html>